<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nombre Completo</mat-label>
          <input matInput formControlName="nombre" name="nombre" required>
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Edad</mat-label>
          <mat-select formControlName="edad" name="edad" required>
            <mat-option value="15">15</mat-option>
            <mat-option value="16">16</mat-option>
            <mat-option value="17">17</mat-option>
            <mat-option value="18">18</mat-option>
            <mat-option value="19">19</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="21">21</mat-option>
            <mat-option value="22">22</mat-option>
            <mat-option value="23">23</mat-option>
            <mat-option value="24">24</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="26">26</mat-option>
            <mat-option value="27">27</mat-option>
            <mat-option value="28">28</mat-option>
            <mat-option value="29">29</mat-option>
            <mat-option value="30">30</mat-option>
            <mat-option value="31">31</mat-option>
            <mat-option value="32">32</mat-option>
            <mat-option value="33">33</mat-option>
            <mat-option value="34">34</mat-option>
            <mat-option value="35">35</mat-option>
            <mat-option value="36">36</mat-option>
            <mat-option value="37">37</mat-option>
            <mat-option value="38">38</mat-option>
            <mat-option value="39">39</mat-option>
            <mat-option value="40">40</mat-option>
            <mat-option value="41">41</mat-option>
            <mat-option value="42">42</mat-option>
            <mat-option value="43">43</mat-option>
            <mat-option value="44">44</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Documento</mat-label>
          <input matInput formControlName="documento" name="documento" type="documento" required>
          <mat-error *ngIf="registerForm.value.password">Password must be a combination of lower-case, upper-case, numbers and at least 9 characters long</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Licencia</mat-label>
          <input matInput formControlName="licencia" name="licencia" type="licencia" required>
          <mat-error *ngIf="registerForm.value.verifyPassword">Passwords do not match.</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100%">
          <button mat-stroked-button color="primary" type="submit" [disabled]="!registerForm.valid" [mat-dialog-close]="true">Registrar<mat-icon>chevron_right</mat-icon></button>
      </div>
    </div>
</form>
  