<h1 mat-dialog-title>Informacion del estudiante</h1>
<p>{{data.name}}</p>
<div mat-dialog-content>
    Modulos Inscritos:
    <ul>
      <li>
        <span>&#10003;</span> uno
      </li>
      <li>
        <span>&#10003;</span> dos
      </li>
      <li>
        <span>&#10003;</span> tres

      </li>
    </ul>
    Clases Activas:
    <ul>
      <li>
        <span>&#10003;</span> cuatro
      </li>
      <li>
        <span>&#10003;</span> cinco
      </li>
      <li>
        <span>&#10003;</span> seis
      </li>
    </ul>
  </div>
